@{
    Layout = null;
}

<footer class="probootstrap_section probootstrap-border-top">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-3">
                <h3 class="probootstrap_font-18 mb-3">LIÊN HỆ</h3>
                <ul class="list-unstyled">
                    <li>
                        <a>Địa chỉ: Dạ Trạch - Khoái Châu - Hưng Yên</a>
                    </li>
                    <li>
                        <a href="mailto: HTATravel01@gmail.com" target="_blank">Email: HTATravel01@gmail.com</a>
                    </li>
                    <li>
                        <a href="tel: 09 0330 2512" target="_blank">Hotline: 09.0330.2512</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/HTA-Travel-103625638511690" target="_blank">Fanpage: HTA Travel</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3 class="probootstrap_font-18 mb-3">TRONG NƯỚC</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://free-template.co" target="_blank">Hạ Long</a>
                    </li>
                    <li>
                        <a href="https://free-template.co" target="_blank">Nha Trang</a>
                    </li>
                    <li>
                        <a href="https://free-template.co" target="_blank">Đà Lạt</a>
                    </li>
                    <li>
                        <a href="https://free-template.co" target="_blank">Phú Quốc</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h3 class="probootstrap_font-18 mb-3">NƯỚC NGOÀI</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://free-template.co" target="_blank">Autralia</a>
                    </li>
                    <li>
                        <a href="https://free-template.co" target="_blank">France</a>
                    </li>
                    <li>
                        <a href="https://free-template.co" target="_blank">Nhật Bản</a>
                    </li>
                    <li>
                        <a href="https://free-template.co" target="_blank">Hàn Quốc</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <h3 class="probootstrap_font-18 mb-3">THÔNG TIN</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://free-template.co" target="_blank">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="https://free-template.co" target="_blank">Tin tức</a>
                    </li>
                    <li>
                        <a href="https://free-template.co" target="_blank">Dịch vụ</a>
                    </li>
                    <li>
                        <a href="https://free-template.co" target="_blank">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-md-12 text-center">
                <p class="probootstrap_font-14">
                    Copyright &copy; 2021. HTA Travel.


                </p>

            </div>
        </div>
    </div>
</footer>



<script src="/assets/admin/js/jquery.min.js"></script>

<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/jquery.easing.1.3.js"></script>
<script src="/assets/js/select2.min.js"></script>
<script src="/assets/js/main.js"></script>
	</body>
</html>
