
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("_HeaderNews")


<section class="probootstrap-cover overflow-hidden relative" style="background-image: url('/assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="overlay"></div>
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md">
                <h2 class="heading mb-2 display-4 font-light probootstrap-animate">Tìm hiểu du lịch<br /><br /> thông qua các bài viết hấp dẫn</h2>



            </div>
        </div>
    </div>

</section>
<!-- END section -->

<section class="probootstrap_section">
    <div class="container">
        <div class="row text-center mb-5 probootstrap-animate">
            <div class="col-md-12">
                <h2 class="display-4 border-bottom probootstrap-section-heading">Tin tức du lịch</h2>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section-half d-md-flex" id="section-about">
    <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(/assets/images/News/TOP-25-diem-den-du-lich-noi-tieng-nhat-the-gioi/top-25-qt-1.jpg)"></div>
    <div class="probootstrap-text">
        <div class="probootstrap-inner probootstrap-animate" data-animate-effect="fadeInRight">
            <h2 class="heading mb-4">TOP 25 điểm đến du lịch nổi tiếng nhất thế giới do TripAdvisor bình chọn 2020</h2>
            <p class="pp">Trang web về du lịch nổi tiếng <a href="https://www.tripadvisor.com">TripAdvisor</a> vừa cho ra mắt bảng xếp hạng top 25 điểm đến du lịch nổi tiếng trên toàn thế giới. Danh sách này được tổng hợp dựa trên các bình chọn của các tín đồ du lịch trên toàn thế giới trải nghiệm và đánh giá. Các điểm đến du lịch có thể là 1 thành phố, 1 vùng, 1 hòn đảo hoặc 1 quốc gia nào đó. Việt Nam mình có 1 địa điểm lọt vào danh sách này, đó chính là Phố cổ Hội An, xếp thứ 13.</p>

            <p><a href="#" class="btn btn-primary">Xem thêm</a></p>
        </div>
    </div>
</section>


<section class="probootstrap-section-half d-md-flex">
    <div class="probootstrap-image order-2 probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(/assets/images/News/TOP-26-danh-lam-thang-canh-Viet-Nam-noi-tieng-the-gioi/top-26-vn-1.jpg)"></div>
    <div class="probootstrap-text order-1">
        <div class="probootstrap-inner probootstrap-animate" data-animate-effect="fadeInLeft">
            <h2 class="heading mb-4">TOP 26 danh lam thắng cảnh Việt Nam nổi tiếng thế giới</h2>
            <p class="pp">
                Đất nước Việt Nam đang trở thành một trong những điểm đến hàng đầu thế giới nhờ vẻ đẹp thiên nhiên tuyệt vời. Cảnh đẹp Việt Nam từ Bắc vào Nam có thể nói là vô tận, từ những cánh đồng lúa và ruộng bậc thang xanh tươi ở phía Bắc đến sự nhộn nhịp của đồng bằng sông Cửu Long ở phía Nam. Hãy cùng mình tìm hiểu về các địa danh và danh lam thắng cảnh Việt Nam nổi tiếng thế giới qua bài viết dưới đây nhé!
            </p>

            <p><a href="#" class="btn btn-primary">Xem thêm</a></p>
        </div>
    </div>
</section>


<section class="probootstrap-section-half d-md-flex" id="section-about">
    <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(/assets/images/News/di-tim-giac-mo-mau-tim/di-tim-giac-mo-mau-tim-1.jpg)"></div>
    <div class="probootstrap-text">
        <div class="probootstrap-inner probootstrap-animate" data-animate-effect="fadeInRight">
            <h2 class="heading mb-4">Đi tìm giấc mơ màu tím</h2>
            <p class="pp">
                Xe tôi trườn qua con đường nhỏ uốn lượn trong những ngôi làng miền Nam nước Pháp. Nắng chiều ngọt như mật và có chút gì đó thênh thang buồn. Trên những triền đồi, bất chợt những cánh đồng tím ngan ngát rộng mở đến tận chân những dãy núi xa
                mờ. Một mùi hương say đắm lan tỏa khắp nơi và tôi chưa từng thấy bức tranh màu tím nào đẹp hơn thế này.
                <br />
                Cứ mỗi độ tháng 7, vùng Provence nước Pháp, lại ấp ủ một mùa oải hương mới...
            </p>

            <p><a href="#" class="btn btn-primary">Xem thêm</a></p>
        </div>
    </div>
</section>


<section class="probootstrap-section-half d-md-flex">
    <div class="probootstrap-image order-2 probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(/assets/images/News/phai-long-mua-dong-nam-ban-cau/phai-long-mua-dong-nam-ban-cau-1.jpg)"></div>
    <div class="probootstrap-text order-1">
        <div class="probootstrap-inner probootstrap-animate" data-animate-effect="fadeInLeft">
            <h2 class="heading mb-4">Phải lòng mùa đông Nam Bán Cầu</h2>
            <p class="pp">
                Mùa hè, dường như ai cũng mơ về nắng vàng - biển xanh - cát trắng. Nhưng bạn có biết vẫn có nơi nào đó tuyết rơi trắng xóa và mọi người phải mặc áo ấm thay vì bộ bikini rực rỡ? Đó chính là vùng Nam bán cầu mát lạnh, không khí trong lành.
                Còn gì tuyệt hơn khi được thỏa sức vui chơi giữa băng tuyết và ngắm các loài thú hoang dã… hãy đến và cảm nhận.
                <br />
                Nếu bạn tưởng tượng, mùa đông châu xám xịt và buồn bã thì bạn đã lầm to! Ở đây, nền trời xanh ngắt với những...
            </p>
            <p><a href="#" class="btn btn-primary">Xem thêm</a></p>
        </div>
    </div>
</section>

<section class="probootstrap-section-half d-md-flex" id="section-about">
    <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url(/assets/images/News/khu-vuon-thuong-luu-giua-long-london/khu-vuon-thuong-luu-giua-long-london-1.jpg)"></div>
    <div class="probootstrap-text">
        <div class="probootstrap-inner probootstrap-animate" data-animate-effect="fadeInRight">
            <h2 class="heading mb-4">Khu vườn thượng lưu giữa lòng London</h2>
            <p class="pp">
                Được ví như “Khu vườn thượng lưu” giữa lòng London, lễ hội hoa xuân Chelsea 2018 là sự kiện tầm cỡ thế giới làm thỏa lòng hàng triệu du khách bởi những màn khoe sắc tuyệt vời của các loài hoa cũng như khả năng sáng tạo thiết kế sân vườn độc
                đáo của các nghệ nhân tài hoa. Đến nước Anh vào dịp này, chắc hẳn bạn sẽ để lại ấn tượng sâu sắc với bạn bè bằng màn livestream độc đáo hay những bức ảnh “sống ảo cực chất” để cả thế giới phải “phát hờn”
            </p>

            <p><a href="#" class="btn btn-primary">Xem thêm</a></p>
        </div>
    </div>
</section>





