
@{
    Layout = null;
}

<section class="probootstrap_section" id="section-feature-testimonial">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-12 text-center mb-5 probootstrap-animate">
                <h2 class="display-4 border-bottom probootstrap-section-heading">Vì sao chọn HTA Travel</h2>
                <blockquote class="">
                    <p class="lead mb-4">
                        <em>
                            <b>HTA Travel</b> là công ty du lịch chuyên tổ chức các tour du lịch trong và ngoài nước. Qua từng năm, HTA Travel đã khẳng định được vị trí, thương hiệu cho riêng mình, đã và đang tổ chức rất thành công các chuyến du lịch các khách hàng là
                            khối cơ quan, đoàn thể, các khu công nghiệp và khách lẻ. <b>HTA Travel</b> được khách hàng trong nước cũng như nước ngoài đánh giá cao về chất lượng dịch vụ và sự chuyên nghiệp trong khâu tổ chức tour.
                        </em>
                    </p>

                </blockquote>

            </div>
        </div>

    </div>
</section>
