@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Action("_HeaderIntroduce")


<section class="probootstrap-cover overflow-hidden relative" style="background-image: url('/assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="overlay"></div>
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md">
                <h2 class="heading mb-2 display-4 font-light probootstrap-animate">
                    <br />Tìm hiểu về HTA Travel
                    <br />
                    <br />
                </h2>


            </div>
        </div>
    </div>

</section>
<!-- END section -->

<section class="probootstrap_section" id="section-feature-testimonial">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-12 text-center mb-5 probootstrap-animate">

                <blockquote class="">
                    <p class="lead mb-4">
                        <em>
                            <p>
                                <b>HTA Travel</b> là công ty du lịch chuyên tổ chức các tour du lịch trong và ngoài nước. Qua từng năm, HTA Travel đã khẳng định được vị trí, thương hiệu cho riêng mình, đã và đang tổ chức rất thành công các chuyến du lịch các khách hàng là
                                khối cơ quan, đoàn thể, các khu công nghiệp và khách lẻ.
                                <b>HTA Travel</b> được khách hàng trong nước cũng như nước ngoài đánh giá cao về chất lượng dịch vụ và sự chuyên nghiệp trong khâu tổ chức tour.
                            </p>

                            <br>

                            <p>
                                <ul style="text-align: left">
                                    Hiện tại,
                                    <b>Các dịch vụ HTA Travel đang cung cấp:</b>
                                    <ul>[ Inbound ] đón khách du lịch quốc tế về Việt Nam, đặc biệt là khách Trung Quốc và khách Nhật Bản.</ul>
                                    <ul>[Outbound] Đưa khách Việt Nam đi du lịch nước ngoài.</ul>
                                    <ul>[ Land tour ] Bán buôn land tour Nhật Bản, Land tour Úc.</ul>
                                    <ul>[Domestic] Tổ chức du lịch nội địa cho các khu công nghiệp, và cơ quan, đoàn thể.</ul>
                                    <ul>[Medical Tourism] Du lịch y tế tại Nhật Bản.</ul>
                                    <ul>[Air ticket] Vé máy bay.</ul>
                                    <ul>[M.I.C.E] Hội thảo và tổ chức sự kiện.</ul>
                                </ul>
                                <br>
                                <ul style="text-align: left">
                                    <b>HTA Travel</b> rất may mắn khi được phục vụ các tour du lịch cho rất nhiều các công ty, tập đoàn lớn. Trong số đó có thể kể đến:
                                    <ul>Tổng công ty Hàng Không Việt Nam – Việt Nam Airline.</ul>
                                    <ul>Tổng công ty Bảo Việt.</ul>
                                    <ul>Công ty Cổ phần Eurowindow.</ul>
                                    <ul>Công ty Cổ phần sữa Việt Nam – Vinamilk.</ul>
                                    <ul>Nhà máy Samsung Bắc Ninh.</ul>
                                </ul>
                                <br>
                                <ul style="text-align: left">
                                    Với những thành tựu trong thời gian vừa qua, hiện nay
                                    <b>HTA Travel</b> đã trở thành công ty được nhiều khách hàng tin tưởng với 2 văn phòng tại Hà Nội và Đà Nẵng cùng với đội ngũ nhân viên nhiệt tình, thân thiện.
                                </ul>
                                <br>
                                <ul style="text-align: left">
                                    <b>SỨ MỆNH:</b>
                                </ul>
                                <ul style="text-align: left">ĐEM LẠI NIỀM VUI CHO KHÁCH HÀNG KHI SỬ DỤNG DỊCH VỤ CỦA HTA TRAVEL</ul>
                                <br>
                                <ul style="text-align: left">
                                    <b>TẦM NHÌN:</b>
                                </ul>
                                <ul style="text-align: left">ĐẾN NĂM 2030:</ul>

                                <ul style="text-align: left">
                                    - TRỞ THÀNH CÔNG TY CỔ TY CỔ PHẦN ĐA NGÀNH NGHỀ TRONG LĨNH VỰC:
                                    <ul>
                                        Dịch vụ lữ hành.
                                    </ul>
                                    <ul>
                                        Dịch vụ lưu trú.
                                    </ul>
                                    <ul>
                                        Dịch vụ Y tế.
                                    </ul>
                                    <ul>
                                        Dịch vụ đào tạo.
                                    </ul>
                                    <ul>
                                        Đầu tư.
                                    </ul>
                                </ul>

                                <ul style="text-align: left">- DOANH THU 1000 TỶ/NĂM.</ul>
                                <ul style="text-align: left">- TẠO RA 500 VIỆC LÀM.</ul>
                                <br>
                                <ul style="text-align: left">
                                    <b>PHẨM CHẤT:</b>
                                </ul>
                                <ul style="text-align: left">Chính trực - Trung thực.</ul>
                                <ul style="text-align: left">Kiên trì - Chăm chỉ.</ul>
                                <ul style="text-align: left">Tận tụy - Sẵn sàng phục vụ - Vui vẻ khi nhận nhiệm vụ.</ul>
                                <ul style="text-align: left">Ham học hỏi -Cầu tiến.</ul>
                                <ul style="text-align: left">Nhiệt huyết - Chủ động.</ul>
                                <ul style="text-align: left">Tinh thần trách nhiệm.</ul>
                                <ul style="text-align: left">Tinh thần đoàn kết.</ul>
                                <br>
                                <ul style="text-align: left">
                                    <b>HỆ GIÁ TRỊ-VĂN HÓA:</b>
                                </ul>
                                <ol style="text-align: left">
                                    <li value="1">SỨC KHỎE LÀ TÀI SẢN QUÝ NHẤT CỦA ĐỜI NGƯỜI: TẬP THỂ DỤC HÀNG NGÀY.</li>
                                    <li>NGUỒN GỐC MỌI SỰ KHỔ ĐAU LÀ SỰ NGU DỐT: HỌC HỎI KHÔNG NGỪNG NGHỈ.</li>
                                    <li>NGUỒN GỐC CỦA CẢI LÀ DO SỨC LAO ĐỘNG: HỌC THÌ PHẢI ỨNG DỤNG VÀ HÀNH ĐỘNG LUÔN.</li>
                                    <li>ĐOÀN KẾT VÀ KỶ LUẬT TẠO RA SỨC MẠNH: ĐI CÙNG NHAU-CHUNG TAY - ĐỒNG THUẬN.</li>
                                    <li>KHÁCH HÀNG LÀ NGƯỜI NUÔI SỐNG DOANH NGHIỆP- PHỤC VỤ KHÁCH HÀNG NHƯ PHỤC VỤ BỐ MẸ, ANH CHỊ EM RUỘT.</li>
                                    <li>SỐNG PHẢI TỎA SÁNG: LÀM HẾT SỨC-CHƠI HẾT MÌNH.</li>
                                    <li>TRÂN TRỌNG TỪNG GIÂY PHÚT SỐNG: HÃY LÀM MỌI VIỆC TỐT NHẤT CÓ THỂ - KỂ CẢ VIỆC NHỎ NHẤT.</li>
                                    <li>CẢM ƠN VŨ TRỤ ĐÃ CHO TÔI LÀM NGƯỜI: LUÔN GHI NHẬN, BIẾT ƠN VÀ YÊU THƯƠNG NGƯỜI KHÁC.</li>
                                </ol>
                                <br>
                                <ul style="text-align: left">
                                    <b>SLOGAN:</b>
                                </ul>
                                <ul style="text-align: left">Tận hưởng bản sắc Việt</ul>
                            </p>
                        </em>
                    </p>

                </blockquote>

            </div>
        </div>

    </div>
</section>